<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArchiveWizardTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArchiveWizardTests.Properties.Settings>
            <setting name="CloudAmazonSecretKey" serializeAs="String">
                <value>SIfSYxUrGfsaeLJVXi1jv4P9IuFcoy0fAdrKdKvl</value>
            </setting>
            <setting name="CloudAmazonAccessKey" serializeAs="String">
                <value>AKIAI4XMTRIJYZT3UIAA</value>
            </setting>
            <setting name="CloudAzureAccountDisplayName" serializeAs="String">
                <value>AzureAccount</value>
            </setting>
            <setting name="CloudAzureAccessKey" serializeAs="String">
                <value>64Pb2atsQXr3MF4zj+A9Dxnq4F07/WeL8SxZze4U0POg5Ck5dugmXKbFODXMQ2cqz5CdPFk8A8Am1/5r0dQ38A==</value>
            </setting>
            <setting name="CloudAzureStorageAccountName" serializeAs="String">
                <value>teamk</value>
            </setting>
            <setting name="CloudOpenStackAccountDisplayName" serializeAs="String">
                <value>OpenStackAccount</value>
            </setting>
            <setting name="CloudOpenStackUserName" serializeAs="String">
                <value>andriy.kutcik</value>
            </setting>
            <setting name="CloudOpenStackAPIKey" serializeAs="String">
                <value>29f9a99be1d14de5aede64f5386a8be9</value>
            </setting>
            <setting name="CloudRackspaceAccountDisplayName" serializeAs="String">
                <value>RackspaceAccount</value>
            </setting>
            <setting name="RepositorySizeGB" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CoreHostName" serializeAs="String">
                <value>10.35.176.170</value>
            </setting>
            <setting name="CorePort" serializeAs="String">
                <value>8006</value>
            </setting>
            <setting name="RepositoryPath" serializeAs="String">
                <value>C:\repositoryTestArchive</value>
            </setting>
            <setting name="RepositoryMetadataPath" serializeAs="String">
                <value>C:\repositoryMetadataTestArchive</value>
            </setting>
            <setting name="RepositoryName" serializeAs="String">
                <value>RepositoryForArchive</value>
            </setting>
            <setting name="CloudAmazoneAccountDisplayName" serializeAs="String">
                <value>AmazoneAccountNew</value>
            </setting>
            <setting name="AgentHostName" serializeAs="String">
                <value>10.35.176.166</value>
            </setting>
            <setting name="AgentApiPort" serializeAs="String">
                <value>8006</value>
            </setting>
            <setting name="AgentUserName" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="AgentPassword" serializeAs="String">
                <value>123asdQ</value>
            </setting>
            <setting name="AgentDisplayName" serializeAs="String">
                <value>agent1</value>
            </setting>
            <setting name="AgentSmallVolumeToProtect" serializeAs="String">
                <value>E:\</value>
            </setting>
        </ArchiveWizardTests.Properties.Settings>
    </applicationSettings>
</configuration>